*.iml
.gradle/
/local.properties
/.idea/
/.kotlin/
/captures/
/build/
/app/build/
DS_Store
.DS_Store
/gradle/gradle-daemon-jvm.properties
/docs/
/4.1/docs/
/4.1/*.pdf
/researchpapers/
/chat-upload-bundle/
/Main_file.txt
/SIT305-*.pdf
